<html>
    <head>
        <title>None app</title>
        <link href="assets/style.css" type='text/css' rel='stylesheet'/>
    </head>
    <body>
        <!-- <h1>person: <%= ID%></h1>
        <h1>person: <%= ID.length%></h1> -->
        <h2>Querystring: <%= qstr%></h2>
    </body>
</html>